<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--配置mybatis日志记录工具 -->
  <settings>
     <setting name="logImpl" value="LOG4J"></setting>
  </settings>
  <!--为实体类取别名,简化XXMapper.xml书写-->
  <typeAliases>
    <package name="com.lly.entity"/>
  </typeAliases>
  <!--映射器  告诉mybatis去哪里找映射关系sql-->
  <mappers>
     <package name="com.lly.dao"/>
  </mappers>
</configuration>